.languages-container-O7CoEJqjxht4ZSHkopFh {
	position: fixed;
	right: 0;
	top: 0;
	color: white;
	float: right;
	text-align: right;
	&:hover .languages-menu-DO5hZvvS5TMHxepEZ7lr {
		display: block;
	}
}

.languages-current-DO5hZvvS5TMHxepEZ7lr {
	position: relative;
	min-width: 150px;
	height: 40px;
	background-color: #000a;
	backdrop-filter: blur(10px);
	display: inline-flex;
}

.language-flag-VZzdZpJl188v6jGJuqMf {
	margin: 5px;
	pointer-events: none;
}

.language-name-yC1TdjJB5iTA64OYLIwd {
	margin: 7px 10px 0 0;
	pointer-events: none;
}

.languages-menu-DO5hZvvS5TMHxepEZ7lr {
	width: 200px;
	min-height: 40px;
	backdrop-filter: blur(10px);
	display: none;
	border-radius: 20px;
	.language-menu-content-DO5hZvvS5TMHxepEZ7lr {
		width: 100%;
		height: 40px;
		margin: 0 0 -1px 0;
		background-color: #000a;
		opacity: 0;
		display: inline-flex;
		transition: 0.2s ease-in-out;
		display: block;
		margin: 2px 0;
		&:hover {
			background-color: #444a;
		}
	}
	@for $i from 0 through 1 {
		.language-menu-content-#{$i} {
			display: inline-flex;
			transform-origin: top center;
			animation: rotateX 0.3s calc(#{$i} * 0.06s) ease-in-out forwards;
		}
	}
}

.languages-current-DO5hZvvS5TMHxepEZ7lr,
.language-menu-content-DO5hZvvS5TMHxepEZ7lr {
	border-radius: 20px;
}

@keyframes rotateX {
	0% {
		opacity: 0;
		transform: rotateX(-90deg);
	}
	50% {
		transform: rotateX(-20deg);
	}
	100% {
		opacity: 1;
		transform: rotateX(0deg);
	}
}
