@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;700;900&display=swap');

:root {
	--languages-number: 1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	overflow-x: hidden;
}
