@font-face {
	font-family: 'Zealot';
	font-style: normal;
	font-weight: 400;
	src: local('Zealot'), url('/resource/fonts/zealot.woff') format('woff');
}
@font-face {
	font-family: 'Zealot College';
	font-style: normal;
	font-weight: 400;
	src: local('Zealot College'), url('/resource/fonts/zealotcol.woff') format('woff');
}
@font-face {
	font-family: 'Zealot Light';
	font-style: normal;
	font-weight: 300;
	src: local('Zealot Light'), url('/resource/fonts/zealotl.woff') format('woff');
}
