@import './SidebarFonts.scss';

.title {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	display: flexbox;
	&::before {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(270deg, #888 -19%, #000000 100%);
		transform: translate3d(-19px, 0px, 0px) scale(1);
		filter: blur(20px);
		opacity: var(0.7);
		transition: opacity 0.3s;
		border-radius: inherit;
	}
	&::after {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: inherit;
		border-radius: inherit;
	}
	&__logo {
		text-align: center;
		width: 100%;
		margin: 10px 0;
		h2 {
			font-family: 'Zealot Light';

			text-transform: uppercase;
			background: linear-gradient(to right, #7303c0 0%, #000 100%);
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	&__element {
		margin: 15px 0;
		text-align: center;
		border-radius: 30px;
		width: calc(100% - 30px);
		margin: 15px;
	}
}

.search-bar {
	position: relative;
	width: 90%;
	height: 39px;
	background-image: linear-gradient(to right, #aaa 0%, #aaa 50%, #7303c0 50%, #000 100%);
	background-position: left;
	background-size: 200%;
	transition: 0.5s;
	margin: auto;
	border-radius: 19.5px;
	&__inside {
		position: relative;
		width: calc(100% - 4px);
		height: 35px;
		top: 2px;
		left: 2px;
		background-color: #fff;
		border-radius: 17.5px;
	}
	&__input {
		outline: none;
		border: none;
		margin: 6px 4px 0 10px;
		background-color: #fff;
		font-size: 1.6rem;
		width: 85%;
	}
}
.fa.fa-search {
	margin-top: -5px;
	color: #888;
	&:hover {
		color: #70c;
	}
}
